body, html {
  padding: 0px;
  margin: 0px;
  min-height:100vh;
  --grid-unit:20px;
}

body {
  display:flex;
  justify-content:center;
  align-items:center;
  /* we do anchoring by hand */
  overflow-anchor:none;
}

pre {
  min-width:100vw;
  margin: 0px;
  display:grid;
  justify-content:center;
}

div[data-state=awaiting] {
  min-height:100vh;
  display:grid;
  align-items:center;
}

div[data-state=loaded] {
  margin:5em;
}

div[data-state=loaded] > pre {
  display:grid;
  grid-template-columns: repeat(7,2em) 3em repeat(8,2em);
  grid-auto-rows:var(--grid-unit);
  justify-content:center;
  align-items:center;
}

div[data-state=loaded] > svg {
  position:absolute;
  width:100%;
  height:100%;
}

.byte {
  padding:5px;
}
